.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
  background-color: rgba(56, 56, 56, 0.356);
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.services-section,
.contact-section {
  padding: 60px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.services-section {
  background-color: #f4f4f4;
}

.contact-section {
  background-color: #ddd;
}
